.m-separator {

  width: 100%;
  text-align: center;

  .circle {

    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
  }

  .line {
    vertical-align: middle;
    display: inline-block;
    border: 1px solid;
  }
  
}