.o-menu {
  width: 100%;
  padding: 4.5rem 0;
  @include bg-color('primary-2');
  @include color('third');


  @include breakpoint-up('lg') {
    display: grid;
    grid-template-columns: 40% 60%;
  }

}


.o-menu {

  .m-cards-primary {
    margin-top: 0;
    padding-top: 0;
    .m-card-second {

      @include breakpoint-up('md') {
        justify-items: end;
        align-items: center;
      }

      .body {

        margin: 0;
      }

    }
   
  }

}


.o-menu {

  .m-text-block-second {
    margin-bottom: 4rem;

    .m-separator {


      @include breakpoint-up('lg') {
        text-align: left;
      }
    }

    .a-heading-2 {
      margin-top: 2rem;
    }


    @include breakpoint-up('md') {
      margin-top: 0.5rem;
    }

    @include breakpoint-up('lg') {
      padding-right: 0rem;
      text-align: left;
    }

  }

}



