.o-projects {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}


.o-projects-header {
  width: 50%;
}


.o-projects-body {
  @include bg-color('primary');
  position: absolute;
  left: 0;
  width: 55%;

  .body-btn {

    margin-top: 4rem;
  }


  @include padding-y(6rem);
  padding-right: 4rem;


  @include breakpoint-up('md') {
    @include padding-y(9.5rem);
    padding-right: 8rem;
  }

}