.m-cards-primary {

  .m-card-second {

    .body {

      .m-text-block {

        @include breakpoint-up('md') {
          text-align: left;
        }
      }
    }

    @include breakpoint-up('md') {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 2fr;
      column-gap: 3.8rem;
    }

    @include breakpoint-up('lg') {
      column-gap: 1.5rem;
    }

  }
  
}


.m-cards-primary {

  .m-card-second {

    margin-top: 2.5rem;

    @include breakpoint-up('lg') {
      margin-top: 0rem;
    }

  }
  
}