.a-close-icon {
  position: relative;

  &:after {

    content: '';
    position: absolute;
    transform: rotate(45deg);
  }

  &:before {

    content: '';
    position: absolute;
    transform: rotate(-45deg);
  }

}